<div class="container-fluid mt-5 py-5">

<h1>New Article</h1>
<h2>Write your awesome new article here:</h2>

<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path, class: "btn btn-outline-primary btn-sm" %>
</div>